body {
    min-width: 100px;
    font: "Nunito";
}

.main-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: green;
    background: linear-gradient(to right, #a1d3b0, #f6f1d3);
    align-items: center;
}

.main-popup > * {
    padding: 0.5rem;
}

.timer-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-panel {
    display: flex;
    justify-content: center;
}

button {
    border-radius: 50%;
    width: 3.2rem;
    height: 3.2rem;
    background-color: white;
}

.encouragement-popup {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

figure > img {
    width: 4.8rem;
    border-radius: 50%;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: gold;
    border-radius: 5px;
    padding: 0.1rem;
    z-index: 1;
}

.encouragement-popup > p {
    background: white;
    height: 6rem;
    border-radius: 5px;
    padding: 0.5rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}