body {
    width: 12rem;
    font: "Nunito";
}

.main-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #67a9ef;
    background: linear-gradient(to right, #67a9ef, #8667ef);
    align-items: center;
}

.main-popup > * {
    padding: 0.5rem;
}

.timer-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-panel {
    display: flex;
    justify-content: center;
}

button {
    border-radius: 50%;
    width: 3.2rem;
    height: 3.2rem;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

button > img {
    width: 1rem;
}

.encouragement-popup {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

figure > img {
    width: 4.8rem;
    border-radius: 50%;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: gold;
    border-radius: 5px 0 0 5px;
    padding: 0.1rem;
    z-index: 1;
}

.encouragement-popup > p {
    background: white;
    height: 6rem;
    border-radius: 0 5px 5px 0;
    padding: 0.5rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}